.popular {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  gap: 1rem;
}

.popular h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #333;
  margin: 0;
  text-transform: capitalize;
}
.popular hr {
  width: 25rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: #000;
  margin: 1rem auto 3rem;
}

.popular-items {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.popular-items .item {
  flex: 1 1 calc(25% - 2rem);
  max-width: 20rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.popular-items .item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.popular-items .item img {
  width: 100%;
  height: 25rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.popular-items .item p {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.popular-items .item-price {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.6rem;
  align-items: baseline;
}

.popular-items .item-price-new {
  color: #e63946;
  font-weight: bold;
}

.popular-items .item-price-old {
  color: #888;
  text-decoration: line-through;
}
