.navbar {
  background-color: #faf8f1;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 1.6rem 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}


.logo-container {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.logo {
  width: 16rem;
  height: 8rem;
  border-radius: 50%;
  border: none;
}


.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
}

.navbar-item {
  list-style: none;
}

.navbar-link {
  font-size: 1.8rem;
  gap: 2rem;
  font-weight: 500;
  color: #4b5563;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-link button:hover {
  background-color: #333;
  color: #ff9900;
}

.sign-area {
  margin-right: 1.6rem;
}

.sign-area button {
  background-color: #f7ab54;
  color: #333;
  font-size: 1.8rem;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  transition: background-color 0.3s ease;
}

.sign-area button:hover {
  background-color: #ff9900;
  color: #333;
}

.sign-area .navbar-link {
  color: white;
  text-decoration: none;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.cart-link {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-icon {
  font-size: 2.4rem;
  color: #4b5563;
  transition: color 0.3s ease;
}

.cart-link:hover .cart-icon {
  color: #fbbf24;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #f87171;
  color: white;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-icon {
  font-size: 2.4rem;
  color: #4b5563;
}

.navbar-icon:hover {
  color: #ff9900;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
}

/* Mobile Responsive Styles 
@media (max-width: 768px) {
  .navbar-container {
    flex-wrap: wrap;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #faf8f1;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    display: none;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-item {
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    color: #4b5563;
  }

  .navbar-right {
    display: none;
  }
}
